# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

appdata/
build.log
gorget
data/gfx/
data/sounds/
.o/
src/cfg.hpp
src/ramdisk_data_0.S
src/ramdisk_data_1.S
src/ramdisk_data_2.S
src/ramdisk_data_3.S
src/ramdisk_data_4.S
src/ramdisk_data_5.S
src/ramdisk_data_6.S
src/ramdisk_data_7.S
src/ramdisk_data_8.S
src/ramdisk_data_9.S
src/ramdisk_data.cpp
build/Makefile.template
build/Makefile
gorget.dSYM/
.o/test-tmp-file
