name: homebrew

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: mac-latest
    steps:
    - uses: actions/checkout@v3
    - name: Checkout Repository
      uses: actions/checkout@v4
    - name: Install dependencies
      run: |
         brew install llvm automake sdl2 sdl2_mixer 
    - name: configure
      run: ./RUNME --github --sanity

