name: MSYS2-gcc

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  msys2-ucrt64:
    runs-on: windows-latest
    defaults:
      run:
        shell: msys2 {0}
    strategy:
      matrix:
        include:
          - { sys: ucrt64,  env: ucrt-x86_64 }
    steps:
      - uses: actions/checkout@v3
      - uses: msys2/setup-msys2@v2
        with:
          msystem: UCRT64
          update: true
          install:
            git
            make
            mingw-w64-${{matrix.env}}-binutils
            mingw-w64-${{matrix.env}}-python3
            mingw-w64-${{matrix.env}}-bzip2
            mingw-w64-${{matrix.env}}-clang
            mingw-w64-${{matrix.env}}-clang-tools-extra
            mingw-w64-${{matrix.env}}-crt-git
            mingw-w64-${{matrix.env}}-expat
            mingw-w64-${{matrix.env}}-flac
            mingw-w64-${{matrix.env}}-fluidsynth
            mingw-w64-${{matrix.env}}-gcc
            mingw-w64-${{matrix.env}}-gcc-libs
            mingw-w64-${{matrix.env}}-gdb
            mingw-w64-${{matrix.env}}-gdbm
            mingw-w64-${{matrix.env}}-gettext
            mingw-w64-${{matrix.env}}-giflib
            mingw-w64-${{matrix.env}}-glib2
            mingw-w64-${{matrix.env}}-gmp
            mingw-w64-${{matrix.env}}-headers-git
            mingw-w64-${{matrix.env}}-isl
            mingw-w64-${{matrix.env}}-libffi
            mingw-w64-${{matrix.env}}-libiconv
            mingw-w64-${{matrix.env}}-libjpeg-turbo
            mingw-w64-${{matrix.env}}-libmad
            mingw-w64-${{matrix.env}}-libmodplug
            mingw-w64-${{matrix.env}}-libogg
            mingw-w64-${{matrix.env}}-libpng
            mingw-w64-${{matrix.env}}-libsndfile
            mingw-w64-${{matrix.env}}-libsystre
            mingw-w64-${{matrix.env}}-libtiff
            mingw-w64-${{matrix.env}}-libvorbis
            mingw-w64-${{matrix.env}}-libwebp
            mingw-w64-${{matrix.env}}-libwinpthread-git
            mingw-w64-${{matrix.env}}-lld
            mingw-w64-${{matrix.env}}-llvm
            mingw-w64-${{matrix.env}}-lz4
            mingw-w64-${{matrix.env}}-mpc
            mingw-w64-${{matrix.env}}-mpfr
            mingw-w64-${{matrix.env}}-ncurses
            mingw-w64-${{matrix.env}}-openssl
            mingw-w64-${{matrix.env}}-portaudio
            mingw-w64-${{matrix.env}}-readline
            mingw-w64-${{matrix.env}}-SDL
            mingw-w64-${{matrix.env}}-SDL2
            mingw-w64-${{matrix.env}}-SDL2_gfx
            mingw-w64-${{matrix.env}}-SDL2_image
            mingw-w64-${{matrix.env}}-SDL2_mixer
            mingw-w64-${{matrix.env}}-SDL2_net
            mingw-w64-${{matrix.env}}-SDL2_ttf
            mingw-w64-${{matrix.env}}-smpeg2
            mingw-w64-${{matrix.env}}-speex
            mingw-w64-${{matrix.env}}-speexdsp
            mingw-w64-${{matrix.env}}-termcap
            mingw-w64-${{matrix.env}}-windows-default-manifest
            mingw-w64-${{matrix.env}}-winpthreads-git
            mingw-w64-${{matrix.env}}-xz
            mingw-w64-${{matrix.env}}-zlib
      - name: CI-Build
        run: |
          echo 'Running in MSYS2!'
          ./RUNME --github --gcc
